<style>
@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Karla:400,700,700i|Lora');
</style>



<link href="https://fonts.googleapis.com/css?family=Hind:400,700|Karla:400,700,700i|Lora" rel="stylesheet">



font-family: 'Karla', sans-serif;
font-family: 'Lora', serif;
font-family: 'Hind', sans-serif;

