/* top right bottom left */ 

* {
	background-color:#fff;
}

@font-face {
  font-family: 'FuturaLT';
  src: url('FuturaLT.eot');
  src: url('FuturaLT.woff2') format('woff2'),
       url('FuturaLT.woff') format('woff'),
       url('FuturaLT.ttf') format('truetype'),
       url('FuturaLT.svg#FuturaLT') format('svg'),
       url('FuturaLT.eot?#iefix') format('embedded-opentype');
  font-weight: 'book';
  font-style: normal;
}

body {
	font-family: 'Yantramanav', sans-serif;
	background-color:#fff;
	line-height: 20px;
	letter-spacing: 0.3px;
}

figure {
  display: block;
  overflow:hidden;
  width:300px;
}

.container {
	width: 940px;
	margin: 70px auto 50px auto;
}

.about-container {
	width: 75%;
	margin: 90px auto 50px auto;
}

.container a:hover {
	border-bottom: 1px solid #000;
	transition: all 0.2s;
}

.about-container a:hover {
	border-bottom: 1px solid #000;
	transition: all 0.2s;
}

.box {
	padding: 20px 20px 20px 20px;
}

.imgWrap {
	position: relative;
}

/*.imgWrap img:hover {
	opacity:0.05;
	filter:alpha(opacity=100);
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;   
}*/

/* Portfolio section */

.imgCaption {
  position: absolute; z-index: 9; top:50%; left: 50%; width: 100%; padding: 10px 40px;
  width:100%;
  height:100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity:0;
	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3;
	transition:0.3s;

}

.imgWrap:hover .imgCaption{
	background-color: #fff;
	display:block;
	opacity:0.95;
	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3;
	transition:0.3s;
}

.imgWrap:hover .desc {
	opacity:1;
	filter:alpha(opacity=100);
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
}

.imgWrap:hover .desc_small {
	opacity:1;
	filter:alpha(opacity=100); 
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;   
}

span.desc {
  	background: rgba(0,0,0,0.5);
  	color:white;
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-style:normal;
	line-height: 0;
	color: #000; 
	text-align: center;
	position:absolute;
	width:83%;
	top:45%;
	opacity:0;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;

}

span.desc span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

span.desc_small
{
  	background: rgba(0,0,0,0.5);
  	color:white;
	font-size: 14px;
	letter-spacing: 1px;
	font-style:normal;
	line-height: 0;
	color: #000;  
	text-align: center;
	position:absolute;
	width:83%;
	top:55%;
	opacity:0;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;

}


/* NAVIGATION */
nav {
	display: inline block;
	list-style: none;
	text-align: center;
	letter-spacing:2px;
}

nav li {
	display: inline-block;
	margin: 7px 20px 0 0;
	vertical-align: text-top;
}

nav li a {
	color: black;
	display: block;
	padding: 5px 0 4px 0;
	transition: box-shadow 0.2s ease;
	transition: all 0.2s;
}

nav li a:hover
{
	color: black;
	display: block;
  	border-bottom: 1px solid #000;
	transition: all 0.5s;

}

#thumbnails img:hover {
    opacity: 0.1;
 	transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}

#thumbnails:hover {
	opacity: 0.1;
 	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}

#mad {
	font-size:24px;
	letter-spacing: 3px;
}

#hello {
	font-family: 'Yantramanav', sans-serif;
	font-size: 24px;
	text-align:center;
	margin: 50px auto 20px auto;
	width: 650px;
	font-weight:300;
	line-height: 35px;
	color:#4d4d4d;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    
}

a {
	color:black;
}


h2 {
	text-transform:uppercase;
	font-size:16px;
	display:inline;
	margin-bottom:30px;
	letter-spacing: 1px;
	font-weight:400;
}

h6 {
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-weight: 300;
	display:inline;
}

.about-container p {
	line-height:1.6;
}

strong {
	font-weight:bold;
}

.bold {
	font-weight:bold;
}

.active
{
	border-bottom: 1px solid #000;
}

.fade 
{
	background:transparent;
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
 
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
 
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

.clearfix {
	overflow: hidden;
}

.picright {
	float:right;
}

.picleft {
	float:left;
}

/* content */

#content img {
	width: 100%;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

#content img.header {
	margin-top: 22px;
	margin-bottom: 30px;
}

#content img#about-header {
	width: 460px;
}

#content #about-copy {
	width: 620px;
}

#content .copy {
	display: block;
	margin: 40px auto;
}

#content .copy h1 {
	font-size: 24px;
	font-family: 500;
	margin-top: 30px;
	text-transform:uppercase;
}

#content .copy h2 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
}

#content .copy h3 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#content .copy h4 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 10px;
}

#content .copy h5 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
}

#content .copy p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 20px;
}

#content .copy .left {
	float: left;
	width: 80px;
	margin-right: 20px;
}

#content .copy .right {
	width: 600px;
	margin-left: 100px;
}

hr {
	height: 1px;
	background: #c6c6c6	;
	font-size: 0;
	border: 0;
	margin-bottom: 30px;
}


#about {
	font-size: 15px;
	font-weight:300;
	color: #222222;
	letter-spacing: 0.44px;
}

#objective {
	font-size:14px;
	font-color:#e4e4e4;
  	border: 1px solid black ;
  	padding:10px 10px 10px 10px;
}

#mobile {
	display: none;
	text-align:center;
}

/* ANIMATIONS */
.hide {
	display:none;
}

#b {
	font-family: 'FuturaLT', sans-serif;
	font-size:24px;
	letter-spacing: 3px;
	position: fixed;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

.navbar-nav {
	margin-top:20px;
}

#c {
	font-family: 'FuturaLT', sans-serif;
	font-size:24px;
	letter-spacing: 3px;
	position: fixed;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	top:4%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

.projnav a:hover {
  border-bottom: 0px; }

.prev-proj {
  position: fixed;
  bottom: 5%;
  left: 5%;
  font-size: 1.2em; }

.next-proj {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 1.2em; }
.fa-long-arrow-left:hover,
.fa-long-arrow-right:hover {
  color: #339966; }

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

/* RESPONSIVE */
@media (max-width: 1200px) 
{
	#thumbnails img {
		width: 800px;
	}

	.container {
		width: 80%;
		margin: 40px 10%;
	}

	#nav {
		margin-bottom: 40px;
	}

	#hello {
		width: 66%;
		font-size: 24px;
	}

	#content div.img-row {
		width: 100%;
	}

	#container img {
		width:100%;
	}

	#content img.left, #content img.img-2.right, #content img.img-3.right {
		float: none;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) 
{

	ul {
		display:none;
	}

	.desc_small {
		display: none;
	}

	#thumbnails img {
		width: 100%;
	}

	#container img {
		width:100%;
	}

	#content {
		width:100%;
		margin:0;
		padding:0;
	}

}

@media (max-width: 580px) 
{

	ul {
		display:none;
	}

	#nav, #hello, .desc_small {
		display: none;
	}

	#mobile {
		display: none;
	}

	img {
		width:100%;
	}

	#container img{
		width:100%;
	}

	#mad {
		font-style:bold;
		font-size:25px;
	}

	.active {
		border-bottom: 1px solid #000;
	}

}


